<div class="well">
  <%= form_tag(problems_path, :method => :get) do |f| %>
      <div class="form-group">
        <%= label_tag :subject_id, "Тематика", :class => "control-label" %>
        <%= select_tag(:subject_id, options_for_select(Subject.all.map {|i| [i.title,i.id] }, params[:subject_id]), { :class => "select2 form-control", :multiple => true, :placeholder => "Выберите тематику проблемы из списка" } ) %>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <%= label_tag :status_id, "Статус", :class => "control-label" %>
            <%= select_tag(:status_id, options_for_select(Status.all.map {|i| [i.title,i.id] }, params[:status_id]), { :class => "select2 form-control", :multiple => true, :placeholder => "Выберите статус решения" } ) %>
          </div>
        </div>


      </div>

      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <div class="range-select" style="padding-right:10px;" data-min="1" data-max="10000" data-step="100" data-from="<%=params[:distance_from] %>" data-to="<%=params[:distance_to] %>">
              <%= label_tag :distance, "Расстояние <span class='range-data'></span>".html_safe, :class => "control-label" %>
              <div class="slider"></div>
              <%= hidden_field_tag(:distance_from, params[:distance_from], :class => "from") %>
              <%= hidden_field_tag(:distance_to, params[:distance_to], :class => "to") %>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="form-group">
            <div class="form-group">
              <div class="range-select" style="padding-right:10px;" data-min="1" data-max="10000" data-step="100" data-from="<%=params[:distance_car_from] %>" data-to="<%=params[:distance_car_to] %>">
                <%= label_tag :distance_car, "Расстояние (машина) <span class='range-data'></span>".html_safe, :class => "control-label" %>
                <div class="slider"></div>
                <%= hidden_field_tag(:distance_car_from, params[:distance_car_from], :class => "from") %>
                <%= hidden_field_tag(:distance_car_to, params[:distance_car_to], :class => "to") %>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="form-group">
            <div class="range-select" data-min="0" data-max="10" data-step="1" data-from="<%=params[:rating_from] %>" data-to="<%=params[:rating_to] %>">
              <%= label_tag :rating, "Рейтинг <span class='range-data'></span>".html_safe, :class => "control-label" %>
              <div class="slider"></div>
              <%= hidden_field_tag(:rating_from, params[:rating_from], :class => "from") %>
              <%= hidden_field_tag(:rating_to, params[:rating_to], :class => "to") %>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <%= label_tag :sort, "Сортировка", :class => "control-label" %>
            <%= select_tag(:sort, options_for_select([["", ""],
                                                      ["Рейтинг (возрастание)", "rating_asc"],
                                                      ["Рейтинг (убывание)", "rating_desc"],
                                                      ["Расстояние до Москвы (возрастание)", "distance_asc"],
                                                      ["Расстояние до Москвы (убывание)", "distance_desc"],
                                                      ["Расстояние до Москвы на машине (возрастание)", "distance_car_asc"],
                                                      ["Расстояние до Москвы на машине (убывание)", "distance_car_desc"],
                                                      ["Дата создания (возрастание)", "created_at_asc"],
                                                      ["Дата создания (убывание)", "created_at_desc"],
            ], params[:sort]), { :class => "select2 form-control", :placeholder => "Выберите поле для сортировки" } ) %>
          </div>
        </div>

        <div class="col-md-4">
          <div class="form-group">
            <%= label_tag :view, "Тип отображения", :class => "control-label" %>
            <%= select_tag(:view, options_for_select([["", ""], ["Таблица", "table"], ["Карта", "map"]], params[:view]), { :class => "select2 form-control", :placeholder => "Выберите тип отображения" } ) %>
          </div>
        </div>
      </div>

      <%= submit_tag "Фильтровать", :class => "btn btn-primary" %>
  <% end %>
</div>

<% if @problems.count > 0 %>
    <%= render :partial => params[:view] %>
<% else %>
    <div class="alert alert-warning">Проблем не найдено</div>
<% end %>