<% breadcrumb @problem %>
<% content_for :heading_buttons do %>
    <%= link_to "Редактировать", edit_problem_path(@problem), :class => "btn btn-primary" if can? :edit, @problem %>
    <%= link_to "Удалить", delete_problem_path(@problem) , :class => "btn btn-danger" if can? :destroy, @problem %>
    <%= link_to "Поставить задание", new_task_path(:task => { :problem_id => @problem }) , :class => "btn btn-success" if can? :create, Task %>
    <div class="pull-right">
      <small><%= Russian::strftime(@problem.created_at, '%d %B %Y, %H:%M') %></small>
    </div>
<% end %>

<div class="row">
  <div class="col-md-6">
    <table class="table">
      <tr>
        <td colspan="2"><b><%= @problem.subject.full_title.join("<br/>").html_safe %></b></td>
      </tr>
      <tr>
        <td class="col-md-6">Статус: <%= @problem.status.title %></td>
        <td class="col-md-6">Рейтинг: <%= @problem.rating %></td>
      </tr>
      <tr>
        <td colspan="2"><span class="glyphicon glyphicon-user"></span> <%= @problem.person %></td>
      </tr>
      <tr>
        <td colspan="2"><span class="glyphicon glyphicon-map-marker"></span> <%= @problem.address %></td>
      </tr>
      <tr>
        <td class="col-md-6"><span class="glyphicon glyphicon-phone"></span> <small><%= @problem.phone.nil? ? 'отсутствует' : @problem.phone %></small></td>
        <td class="col-md-6"><span class="glyphicon glyphicon-envelope"></span> <small><%= @problem.email.nil? ? 'отсутствует' : mail_to(@problem.email) %></small></td>
      </tr>
      <tr>
        <td class="col-md-6"><span class="glyphicon glyphicon-link"></span> <small><%= @problem.link.nil? ? 'отсутствует' : link_to(truncate(@problem.link, :length => 35), @problem.link) %></small></td>
        <td class="col-md-6"><small><%= @problem.vk.nil? ? '&nbsp;'.html_safe : @problem.vk %></small></td>
      </tr>
      <tr>
        <td class="col-md-6"><span class="glyphicon glyphicon-plane"></span> <%= @problem.distance_km %> км</td>
        <td class="col-md-6"><span class="glyphicon glyphicon-road"></span> <%= @problem.distance_car_km %> км</td>
      </tr>
    </table>
  </div>

  <div class="col-md-6">
    <div id="show_single_map" class="show_single_map" data-longitude="<%= @problem.address_longitude %>"  data-latitude="<%= @problem.address_latitude %>"></div>
  </div>
</div>

<div class="well"><%= @problem.description %></div>

<% if @problem.comments.count > 0 %>
    <h4><%= @problem.comments.count%> <%= Russian.pluralize(@problem.comments.count, "комментарий", "комментария", "комментариев") %></h4>
<% end %>
<% @problem.comments.each do |comment| %>
    <%= render comment %>
<% end %>

<% if can? :create, Comment %>
    <h4>Оставить комментарий</h4>
    <%= form_for @new_comment, url: problem_path(@problem), html: { class: "form-horizontal" } do |f| %>
        <div class="form-group<%= " has-error" if @new_comment.errors[:body].any? %>">
          <div class="col-sm-12">
            <%= f.text_area :body, class: "form-control mentionable", rows: 4 %>
            <%= render 'error_messages_for', :object => @new_comment, :field => :body %>
          </div>
        </div>

        <div class="form-group<%= " has-error" if @new_comment.errors[:body].any? %>">
          <div class="col-sm-9">
            <%= select_tag(nil, options_for_select([[nil, nil]] + User.all.map {|i| [i.name, i.id] }), { :class => "mention-select select2 form-control", :placeholder => "Выберите пользователя для упоминания" } ) %>
          </div>
        </div>

        <div class="form-actions">
          <%= f.submit "Отправить", class: "btn btn-primary" %>
        </div>
    <% end %>
<% end %>