<% breadcrumb @problem %>
<% content_for :heading_buttons do %>
    <%= link_to "Редактировать", edit_problem_path(@problem), :class => "btn btn-primary" %>
    <%= link_to "Удалить", delete_problem_path(@problem) , :class => "btn btn-danger" %>
<% end %>
<p>
  <b>Тематика</b>: <%= @problem.subject.title %><br />
  <b>Статус</b>: <span class="glyphicon glyphicon-map-marker" style="color: #<%= @problem.status.map_color_css %>;"></span> <%= @problem.status.title %><br />
  <b>Рейтинг</b>: <%= @problem.rating %><br />
  <b>ФИО</b>: <%= @problem.person %><br />
  <b>Адрес</b>: <%= @problem.address %><br />
  <% unless @problem.link.nil? %>
      <b>Ссылка</b>: <%= link_to @problem.link, @problem.link %><br />
  <% end %>
  <% unless @problem.email.nil? %>
      <b>Email</b>: <%= mail_to @problem.email %><br />
  <% end %>
  <% unless @problem.phone.nil? %>
      <b>Телефон</b>: <%= @problem.phone %><br />
  <% end %>
  <% unless @problem.vk.nil? %>
      <b>Вконтакте</b>: <%= @problem.vk %><br />
  <% end %>
  <b>Добавлено</b>: <%= @problem.created_at %><br />
  <br />
  <b>Сообщение</b>:<br />
  <%= @problem.description %>
</p>
<b>Расстояние от Москвы</b>: <%= @problem.distance_km %> км<br />
<% unless @problem.distance_car.nil? %>
    <b>Расстояние от Москвы на машине</b>: <%= @problem.distance_car_km %> км<br />
<% end %>
<b>Адрес на карте:</b><br />
<div id="show_single_map" class="show_single_map" data-longitude="<%= @problem.address_longitude %>"  data-latitude="<%= @problem.address_latitude %>"></div>